<!-- ======= About Section ======= -->
<section class="about-me datos">
    <div class="container">
        <app-about-me></app-about-me>
    </div>
</section>

<!-- ======= Education Section ======= -->
<section class="education datos">
    <div class="container">
        <app-education></app-education>
    </div>
</section>

<!-- ======= Skills Section ======= -->
<section class="skills datos">
    <div class="container">
        <app-skills></app-skills>
    </div>

</section>

<!-- ======= Experiencia Section ======= -->
<section class="experiencia datos">
    <div class="container">
        <app-experience></app-experience>
    </div>
</section>

<!-- ======= Proyects Section ======= -->
<section class="proyectos datos">
    <div class="container">
        <app-proyects></app-proyects>
    </div>
</section>

<!-- ======= Contact Section ======= -->
<section class="contact datos">
    <div class="container">
        <div class="row tiulos">
            <div class="col-3">
                <h2>Contacto</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
                <label>Apellido</label>
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
            <div class="col">
                <label>Correo</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
        </div>
        <div class="row">
            <div class="col proyects-card">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
</section>

<!--
    section class="normal"
    section class="especial"
-->