<!-- ======= About Section ======= -->
<section class="about-me datos">
    <div class="container">
        <app-about-me></app-about-me>
    </div>
</section>

<!-- ======= Education Section ======= -->
<section class="education datos">
    <div class="container">
        <app-education></app-education>
    </div>
</section>

<!-- ======= Skills Section ======= -->
<section class="skills datos">
    <div class="container">
        <app-skills></app-skills>
    </div>

</section>

<!-- ======= Experiencia Section ======= -->
<section class="experiencia datos">
    <div class="container">
        <app-experience></app-experience>
    </div>
</section>

<!-- ======= Proyects Section ======= -->
<section class="proyectos datos">
    <div class="container">
        <app-proyects></app-proyects>
    </div>
</section>

<!-- ======= Contact Section ======= -->
<section class="contact datos">
    <div class="container">
        <app-contact></app-contact>
    </div>
</section>

<!--
    section class="normal"
    section class="especial"
-->