<!-- ======= About Section ======= -->
<section class="about-me datos">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="assets/icons/worldface-spanish-guy-in-white-background.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-8">
                <h5>UI/UX Designer &amp; Web Developer.</h5>
                <p class="fst-italic">SobreMi</p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Fecha de Nacimiento:</strong> <span>27
                                    de Febrero de
                                    2004</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>18</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Nivel:</strong> <span>Junior</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Resistencia,
                                    Chaco,
                                    Argentina</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Contacto:</strong> <a
                                    href="https://www.linkedin.com/in/juan-mart%C3%ADn-cubells-b8a029176/"
                                    target="_blank"
                                    style="text-decoration: none; color: inherit;"><span>@jmartincubells</span></a>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Correo:</strong>
                                <span> jmartincubells@gmail.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci
                    omnis et ut.
                    Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                    Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque
                    neque.
                    Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni
                    laudantium dolores.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- ======= Education Section ======= -->
<section class="education datos">
    <div class="container">
        <div class="row tiulos">
            <div class="col-3">
                <h2>Educacion</h2>
            </div>
        </div>
        <div class="row justify-content-start test">
            <div class="col-1 no-p">
                <div class="container-img">
                    <img src="assets/icons/APLogo_negro.png" class="img-fluid small-img" alt="">
                </div>
            </div>
            <div class="col  no-p">
                <ul>
                    <li style="list-style: none;">
                        <h5>Argentina Programa</h5>
                    </li>
                    <li><i class="bi bi-chevron-right"></i><span>Desarrollador FullStack</span></li>
                    <li><i class="bi bi-chevron-right"></i><span>2022</span></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-start test">
            <div class="col-1 no-p">
                <div class="container-img">
                    <img src="assets/icons/APLogo_negro.png" class="img-fluid small-img" alt="">
                </div>
            </div>
            <div class="col  no-p">
                <ul>
                    <li style="list-style: none;">
                        <h5>Argentina Programa</h5>
                    </li>
                    <li><i class="bi bi-chevron-right"></i><span>Desarrollador FullStack</span></li>
                    <li><i class="bi bi-chevron-right"></i><span>2022</span></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-start test">
            <div class="col-1 no-p">
                <div class="container-img">
                    <img src="assets/icons/APLogo_negro.png" class="img-fluid small-img" alt="">
                </div>
            </div>
            <div class="col  no-p">
                <ul>
                    <li style="list-style: none;">
                        <h5>Argentina Programa</h5>
                    </li>
                    <li><i class="bi bi-chevron-right"></i><span>Desarrollador FullStack</span></li>
                    <li><i class="bi bi-chevron-right"></i><span>2022</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ======= Skills Section ======= -->
<section class="skills datos">
    <div class="container">
        <div class="row tiulos">
            <div class="col-3">
                <h2>Skills</h2>
            </div>
        </div>
        <h5>Html</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <h5>Css</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <h5>Javascript</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <h5>Typescript</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <h5>Java</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <h5>Sql</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <h5>Python</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <h4>Otros</h4>
        <h5>Angular</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        <h5>Photoshop</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
    </div>

</section>

<!-- ======= Experiencia Section ======= -->
<section class="experiencia datos">
    <div class="container">
        <div class="row tiulos">
            <div class="col-3">
                <h2>Experiencia</h2>
            </div>
        </div>
        <div class="row justify-content-start test">
            <div class="col-1 no-p">
                <div class="container-img">
                    <img src="assets/icons/APLogo_negro.png" class="img-fluid small-img" alt="">
                </div>
            </div>
            <div class="col  no-p">
                <ul>
                    <li style="list-style: none;">
                        <h5>Argentina Programa</h5>
                    </li>
                    <li><i class="bi bi-chevron-right"></i><span>Desarrollador FullStack</span></li>
                    <li><i class="bi bi-chevron-right"></i><span>2022</span></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-start test">
            <div class="col-1 no-p">
                <div class="container-img">
                    <img src="assets/icons/APLogo_negro.png" class="img-fluid small-img" alt="">
                </div>
            </div>
            <div class="col  no-p">
                <ul>
                    <li style="list-style: none;">
                        <h5>Argentina Programa</h5>
                    </li>
                    <li><i class="bi bi-chevron-right"></i><span>Desarrollador FullStack</span></li>
                    <li><i class="bi bi-chevron-right"></i><span>2022</span></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-start test">
            <div class="col-1 no-p">
                <div class="container-img">
                    <img src="assets/icons/APLogo_negro.png" class="img-fluid small-img" alt="">
                </div>
            </div>
            <div class="col  no-p">
                <ul>
                    <li style="list-style: none;">
                        <h5>Argentina Programa</h5>
                    </li>
                    <li><i class="bi bi-chevron-right"></i><span>Desarrollador FullStack</span></li>
                    <li><i class="bi bi-chevron-right"></i><span>2022</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ======= Proyects Section ======= -->
<section class="proyectos datos">
    <div class="container">
        <div class="row tiulos">
            <div class="col-3">
                <h2>Proyectos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3 proyects-card">
                <div class="card" style="width: 18rem;">
                    <img src="assets/icons/rectangulo_ej.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-3 proyects-card">
                <div class="card" style="width: 18rem;">
                    <img src="assets/icons/rectangulo_ej.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-3 proyects-card">
                <div class="card" style="width: 18rem;">
                    <img src="assets/icons/rectangulo_ej.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-3 proyects-card">
                <div class="card" style="width: 18rem;">
                    <img src="assets/icons/rectangulo_ej.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-3 proyects-card">
                <div class="card" style="width: 18rem;">
                    <img src="assets/icons/rectangulo_ej.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- ======= Contact Section ======= -->
<section class="contact datos">
    <div class="container">
        <div class="row tiulos">
            <div class="col-3">
                <h2>Contacto</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
                <label>Apellido</label>
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
            <div class="col">
                <label>Correo</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
        </div>
        <div class="row">
            <div class="col proyects-card">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
</section>

<!--
    section class="normal"
    section class="especial"
-->