
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="nombre">
        <!--<h1>{{datos.nombre}}</h1>-->
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/icons/banner1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/icons/hard&soft_skills.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/icons/proyectos.png" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
