<div class="row tiulos">
    <div class="col-3">
        <h2>Proyectos</h2>
    </div>
</div>
<div class="row">
    <div class="col-3 proyects-card" *ngFor="let data of proyectos">
        <div class="card" style="width: 18rem;">
            <img [src]=data.img class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{data.proyecto}}</h5>
                <p class="card-text">{{data.descripcion}}</p>
                <a [href]=data.repo class="btn btn-primary">Repositorio GitHub</a>
            </div>
        </div>
    </div>
</div>