.footer {
    background-color: #11101d3d;
    width: 100%;
    height: 3rem;
    text-align: center;
  }
  
  .footer-text{
    text-decoration: none; 
    color: #11101d;
    position: relative;
    top: 30%;
  }
  .footer-text:hover {
    color: #11101d;
  }