<div class="row tiulos">
    <div class="col-3">
        <h2>Educacion</h2>
    </div>
</div>
<div class="row justify-content-start test">
    <div class="col-1 no-p">
        <div class="container-img">
            <img src="assets/icons/APLogo_negro.png" class="img-fluid small-img" alt="">
        </div>
    </div>
    <div class="col  no-p">
        <ul>
            <li style="list-style: none;">
                <h5>Argentina Programa</h5>
            </li>
            <li><i class="bi bi-chevron-right"></i><span>Desarrollador FullStack</span></li>
            <li><i class="bi bi-chevron-right"></i><span>2022</span></li>
        </ul>
    </div>
</div>
<div class="row justify-content-start test">
    <div class="col-1 no-p">
        <div class="container-img">
            <img src="assets/icons/APLogo_negro.png" class="img-fluid small-img" alt="">
        </div>
    </div>
    <div class="col  no-p">
        <ul>
            <li style="list-style: none;">
                <h5>Argentina Programa</h5>
            </li>
            <li><i class="bi bi-chevron-right"></i><span>Desarrollador FullStack</span></li>
            <li><i class="bi bi-chevron-right"></i><span>2022</span></li>
        </ul>
    </div>
</div>
<div class="row justify-content-start test">
    <div class="col-1 no-p">
        <div class="container-img">
            <img src="assets/icons/APLogo_negro.png" class="img-fluid small-img" alt="">
        </div>
    </div>
    <div class="col  no-p">
        <ul>
            <li style="list-style: none;">
                <h5>Argentina Programa</h5>
            </li>
            <li><i class="bi bi-chevron-right"></i><span>Desarrollador FullStack</span></li>
            <li><i class="bi bi-chevron-right"></i><span>2022</span></li>
        </ul>
    </div>
</div>
