<div class="row tiulos">
    <div class="col-3">
        <h2>Contacto</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col">
        <label>Apellido</label>
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
    <div class="col">
        <label>Correo</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
</div>
<div class="row">
    <div class="col proyects-card">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>